@font-face {
	font-family: 'Gotham';
	src: url("../fonts/GothamPro-light.eot");
	src: url("../fonts/GothamPro-light.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamPro-light.woff") format('woff'), url("../fonts/GothamPro-light.ttf") format('truetype'), url("../fonts/GothamPro-light.svg#Gotham") format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url("../fonts/Gotham.eot");
	src: url("../fonts/Gotham.eot?#iefix") format('embedded-opentype'), url("../fonts/Gotham.woff") format('woff'), url("../fonts/Gotham.ttf") format('truetype'), url("../fonts/Gotham.svg#Gotham") format('svg');
	font-weight: 'normal';
	font-style: normal;
}


@font-face {
	font-family: 'Gotham';
	src: url("../fonts/GothamPro-Medium.eot");
	src: url("../fonts/GothamPro-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamPro-Medium.woff") format('woff'), url("../fonts/GothamPro-Medium.ttf") format('truetype'), url("../fonts/GothamPro-Medium.svg#Gotham") format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url("../fonts/GothamPro-Bold.eot");
	src: url("../fonts/GothamPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamPro-Bold.woff") format('woff'), url("../fonts/GothamPro-Bold.ttf") format('truetype'), url("../fonts/GothamPro-Bold.svg#Gotham") format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans.woff2') format('woff2'),
		url('../fonts/OpenSans.woff') format('woff'),
		url('../fonts/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Semibold.eot');
	src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
		url('../fonts/OpenSans-Semibold.woff') format('woff'),
		url('../fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
