mixin footer()
	//block footer
	.footer
		.footer-title supernovum
		.footer-title-sub История — сокровищница наших деяний, свидетельница <br> прошлого, пример и поучение для настоящего, предостережение для будущего.

	.footer-sub Copyright © 2012

	//block footer end