mixin header()
	//block header
	.header
		a(href="#").header-logo SUPERNOVUM
		.header-logo-sub история в историях
	.menu
		.menu-toggle
			+icon("menu","icon")
		.menu-cont
			.menu-wrap
				-
					var items = [
						'Главная',
						'Политинформация',
						'Консилиум',
						'Политзанятия',
						'Войны',
						'Форум'
						];
				each item in items
					a(href="#").menu__el #{item}

	//block header end